form {
    max-width: 500px;
    width: 90%;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
  
.input-container > * {
    width: 100%;
}

.delBtn {
    left: 100%;
}

.actionBtn {
    margin-bottom: 30px;
}

@media (max-width: 440px) {
    .delBtn {
        left: 0;
        top: 60px;
    }

    .actionBtn {
        margin-top: 35px;
    }
}