form {
    max-width: 600px;
    width: 90%;
}
.input-container > * {
    width: 100%;
}

.delBtn {
    left: 100%;
}

.actionBtn {
    margin-bottom: 30px;
}

button + button {
    margin-left: 15px;
}

@media (max-width: 440px) {
    .delBtn {
        left: 0;
        top: 60px;
    }

    .actionBtn {
        margin-top: 35px;
    }
}