<h3>Edit word</h3>
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="wordForm">

    <div class="input-container">
        <mat-form-field>
          <input matInput placeholder="Enter word" formControlName="word" required>
          <mat-error *ngIf="wordForm.get('word').invalid && (wordForm.get('word').dirty || wordForm.get('word').touched)">This field is required</mat-error>
        </mat-form-field>
    </div>

    <div formArrayName="translations">
        <div *ngFor="let translation of translations.controls; let i=index" class="input-container">
            <mat-form-field>
                <input matInput type="text" [formControlName]="i" placeholder="Translation" required>
                <mat-error *ngIf="wordForm.get('word').invalid && (wordForm.get('word').dirty || wordForm.get('word').touched)">This field is required</mat-error>
                <a mat-button [ngClass]="{delBtn: i > 0}" color="warn" *ngIf="i > 0" (click)="deleteTranslation(i)">Delete</a>
            </mat-form-field>
        </div>
        <button type="button" mat-stroked-button color="primary" [disabled]="!translations.valid" (click)="addTranslation()" class="actionBtn">Add next translation</button>
    </div>

    <div class="input-container">
        <mat-form-field>
            <input matInput id="pronounciation" formControlName="pronounciation" placeholder="Pronounciation">
        </mat-form-field>
    </div>

    <div formArrayName="contexts">
        <div *ngFor="let context of contexts.controls; let i=index" class="input-container">   
            <mat-form-field>
                <input  matInput type="text" [formControlName]="i" placeholder="Context">
                <a [ngClass]="{delBtn: i > 0}" mat-button color="warn" *ngIf="i > 0" (click)="deleteContext(i)">Delete</a>
            </mat-form-field>
        </div>
        <button type="button" mat-stroked-button color="primary" [disabled]="wordForm.get('contexts').pristine && wordForm.get('contexts').value.length < 0" (click)="addContext()" class="actionBtn">Add next context</button>
    </div>

    <div class="input-container">
        <mat-form-field>
            <textarea matInput formControlName="notes" id="notes" placeholder="Notes"></textarea>
        </mat-form-field>
    </div>

    <button mat-flat-button color="primary" type="submit" [disabled]="!wordForm.valid">Update word</button>
    <button mat-flat-button type="button" color="primary" (click)="goBack()">Cancel</button>
    
</form>

<!-- 
<p>wordForm value: {{wordForm.value | json}}</p>
<p>wordForm status: {{wordForm.status}}</p> -->