<h3>List of words</h3>

<!-- for testing purpose only-->
<button *ngIf="sampleDataBtn" (click)="addSampleData()">Add sample data</button>


<mat-form-field class="filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<h4>Show / hide columns</h4>
<mat-button-toggle-group class="columnsToggleButons" name="selectedColumn" aria-label="selected column" multiple="true"
    (change)="onChange($event)" [value]="displayedColumns">
    <mat-button-toggle value="word">Word</mat-button-toggle>
    <mat-button-toggle value="translation">Translation</mat-button-toggle>
    <mat-button-toggle value="actions">Actions</mat-button-toggle>
</mat-button-toggle-group>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z3">

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element" class="action-link">
            <button mat-icon-button matTooltip="Click to show details" class="iconbutton" color="primary">
                <mat-icon aria-label="Details" [routerLink]="['/words', element.id]">visibility</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
                <mat-icon aria-label="Edit" [routerLink]="['/words', element.id, 'edit']">
                    edit
                </mat-icon>
            </button>
            <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn"
                (click)="deleteWord(element.id)">
                <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef> Word </th>
        <td mat-cell *matCellDef="let element"> {{element.word}} </td>
    </ng-container>

    <ng-container matColumnDef="translation">
        <th mat-header-cell *matHeaderCellDef> Translation </th>
        <td mat-cell *matCellDef="let element"> {{element.translations}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>